- run1:
    root: INSERT 1ST RUN ROOT DIRECTORY
    rfdiffusion:
      model_dir: INSERT RFDIFFUSION MODEL DIR
      num_designs: 2000
      partial_T: 23
      contacts_threshold: 5
      rog_potential: 12
    backbone_filtering:
      ss_threshold: 5
      rog_cutoff: 10
    proteinmpnn:
      seqs_per_target: 2000
      sampling_temp: .5
      backbone_noise: .20
    omegafold:
      model_dir: INSERT OMEGAFOLD MODEL DIR
      num_recycles: 5
      model_weights: 2
    sequence_filtering:
      plddt_threshold: 85
      average_cutoff: 20
      rog_cutoff: 10
      max_samples: 10
- run2:
    root: INSERT 2ND RUN ROOT DIRECTORY
    proteinmpnn:
      seqs_per_target: 2000
      sampling_temp: .2
      backbone_noise: .0
    omegafold:
      model_dir: INSERT_OMEGAFOLD_MODEL_DIR
      num_recycles: 5
      model_weights: 2
    omegafold_filtering:
      plddt_threshold: 85
      average_cutoff: 20
      max_samples: 10
    colabfold:
      model_dir: INSERT_COLABFOLD_MODEL_DIR
      num_recycle=5
      model_name='alphafold2'
      num_models=5
    colabfold_filtering:
      plddt_threshold: 85
      average_cutoff: 20
      max_samples: 10